<h2>Products in the Cart</h2>
<table class="table">
    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productItems">
            <td>
                {{product._id}}
            </td>
            <td>
                {{product.name}}
            </td>
            <td>
                R{{product.price}}
            </td>
            <td>
                <button class=" btn btn-danger" (click)="removeFromCart(product.id)">Remove</button>
                
            </td>
        </tr>
    </tbody>

</table>

<button routerLink="/checkout" class="btn btn-sm btn-outline-secondary">Check out</button>|
<a href="/cart" type="button" (click)="EmptyCart()" class="btn btn-sm btn-outline-secondary">Empty Cart </a>|
<button routerLink="/products" class="btn btn-sm btn-outline-secondary">Continue shopping </button>
