<div class="text-center">
<div class="album py-5 bg-light">
   <div class="container">

     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/dairy.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text">Dairy products</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button  [routerLink]="['/products/dairy']" type="button"  class="btn btn-sm btn-outline-secondary">View</button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/processedmeats.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text">Processed Meats</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button routerLink="/products/processed-meats" type="button"  class="btn btn-sm btn-outline-secondary">View</button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/beverages.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text">Drinks</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button routerLink="/products/drinks" type="button" class="btn btn-sm btn-outline-secondary">View</button>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/f&g.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text">Fruits and Vegetables </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button routerLink="/products/fruits-vegetables" type="button"  class="btn btn-sm btn-outline-secondary">View</button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/cereals.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text">Cereals </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button routerLink="/products/vegetables" type="button"  class="btn btn-sm btn-outline-secondary">View</button>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="assets/images/snacks.jpg" width="100%" height="225" />

           <div class="card-body">
             <p class="card-text"> Snacks</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button routerLink="/products/snacks" type="button"  class="btn btn-sm btn-outline-secondary"> View</button>
               </div>
             </div>
           </div>
         </div>
       </div>
   </div>
 </div>         

</div>
