<div class="text-center">
    <a routerLink="/products" > <img class="mb-4" src="assets/images/ecommerce-business-blog-1.jpg" alt="alt" width="1000" height="500"> </a>

<br/>
<h3>Mission:</h3>
<p>Our mission is to become the most trusted and valued e-commerce business by providing virtual mall experience in the most simplest and affordable form.</p>
<h3>Aim:</h3>
<h4>We aim to do this by:</h4>
    <ul>
        <li>Offering ultimate convenience and ensuring  consumer flexibility while shoopping.</li>
        <li>Ensuring that shoppers pick the best products and also offer brands that will ensure the consumers satisfaction.</li>
        <li>Ensuring website uptime availability to ensure that services and delivery is always on time.</li>
    </ul>
    <h3>Vision</h3>
    <p>To be the most prominent and powerful e-commerce website.</p>
</div>
