<div class="container text-center mb-3">
    <form>
        <img class="mb-4" src="assets/images/ct.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Contact Us</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Name"
                [(ngModel)]="contact.firstName">
            <label for="name">First name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name"
                [(ngModel)]="contact.lastName">
            <label for="surname">Surname</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                [(ngModel)]="contact.email">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="0123456789"
                [(ngModel)]="contact.phoneNumber">
            <label for="phoneNumber">Contact Number</label>
        </div>
        <div class="form-floating">
            <textarea type="text" class="form-control" id="message" name="message" placeholder="Message" rows="10"
                [(ngModel)]="contact.message"> </textarea>
            <label for="message">Message</label>
        </div>
        <a class="w-100 btn btn-lg btn-secondary" type="button" (click)="contactUs()">Contact Us</a>
    </form>
</div>
