<div class="container text-center">
    <form>
      <img class="mb-4" src="assets/images/ct.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Update Profile</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="first-name" name="first-name" placeholder="First Name"
         />
        <label for="first-name">First Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name"
         />
        <label for="last-name">Last Name</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="0712345678"
         />
        <label for="phoneNumber">Phone Number</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="password"
         />
        <label for="password">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="confirmPassword" name="confirmpassword" placeholder="password"
         />
        <label for="password">Confirm Password</label>
      </div>
      <a href="#" class="w-100 btn btn-lg btn-secondary"  type="submit">Update Profile</a>
  
    </form>
  
  
  </div>